# old version

# certifi==2025.7.14
# cffi==1.17.1
# charset-normalizer==3.4.2
# clr_loader==0.2.7.post0
# idna==3.10
# platformdirs==4.3.8
# psutil==7.0.0
# pycparser==2.22
# PyQt6==6.9.1
# PyQt6-Qt6==6.9.1
# PyQt6_sip==13.10.2
# pythonnet==3.0.5
# pywin32==311
# readchar==4.2.1
# requests==2.32.4
# urllib3==2.5.0
# WMI==1.5.1



# new

PyQt6
psutil
pywin32
readchar
platformdirs
requests
WMI
pythonnet
